#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.avatar {
  background-color: red;
}

@media (max-width: 768px) {
  .avatar {
    width: 30px;
    height: 30px;
  }
}

